<section class="bg-white flex flex-col gap-2 pr-8 pt-8 border-r">
  <%= active_link_to pokemons_path, class: "", optional_path: root_path do %>
    <span class=""><%= Icon.pokemons %></span>
    Pokemons
  <% end %>

  <% if current_user.admin? %>
    <%= active_link_to trainers_path, class: "" do %>
      <span class=""><%= Icon.trainers %></span>
      Trainers
    <% end %>
  <% else %>
    <%= active_link_to trainer_path(current_user), class: "" do %>
      <span class=""><%= Icon.trainers %></span>
      Trainer
    <% end %>
  <% end %>
</section>
