<div class="max-w-6xl">
  <div class="flex mb-6 justify-between items-center">
    <h1 class="text-lg text-dark-grey">Pokemon's</h1>
    <%= form_with url: pokemons_path, method: :get, class: "gradient-border rounded-3xl flex items-center gap-2 text-dark-grey" do |f| %>
      <div class="size-4">
        <%= Icon.search %>
      </div>
      <%= f.search_field :search, value: params[:search], placeholder: "Search a Pokemon", class: "text-sm font-light !outline-none border-none" %>
    <% end %>
  </div>

  <div class="border-2 border-grey rounded-lg p-8">
    <div class="flex justify-between">
      <h2 class="text-lg text-dark-grey">Pokemon's</h2>
      <% if PokemonPolicy.new(current_user, Pokemon.new).new? %>
        <%= link_to 'Add Pokemon', add_pokemons_path, class: 'btn w-auto' %>
      <% end %>
    </div>

    <div class="divTable text-dark-grey text-sm">
      <%= turbo_frame_tag :pokemons, class: "divTableBody" do %>
        <div class="divTableRow">
          <div class="divTableHead font-semibold">Name</div>
          <div class="divTableHead font-semibold">Type</div>
          <div class="divTableHead font-semibold">Action</div>
        </div>
        <br>
        <%= render @pokemons %>
      <% end %>
    </div>
    <%= render "shared/pager", pagy: @pagy, path: pokemons_path, parameters: filter_params.merge({ page: @pagy.next }) %>
  </div>
</div>
