<%= form_with model: trainer, scope: :trainer, data: { controller: "nested-form" }, url: trainer.new_record? ? trainers_path : trainer_path, class: "p-3" do |f| %>
  <%= turbo_frame_tag :form_errors do %>
    <%= render partial: "shared/form_errors", locals: { object: f.object } %>
  <% end %>
  <div class="mb-2">
    <%= f.label :first_name, class: "label" %>
    <%= f.text_field :first_name, required: true, class: "input" %>
  </div>

  <div class="mb-2">
    <%= f.label :last_name, class: "label" %>
    <%= f.text_field :last_name, required: true, class: "input" %>
  </div>

  <div class="mb-2">
    <%= f.label :email, class: "label" %>
    <%= f.email_field :email, required: true, class: "input" %>
  </div>

  <div class="mb-2" data-controller="input-switcher">
    <div class="flex gap-4">
      <div class="">
        <input class="cursor-pointer" type="radio" id="trainer_image_radio" name="image" autocomplete="off" <%= "checked" if f.object.image.attached? || f.object.new_record? %> data-input-switcher-id-param="trainer_image" data-action="input-switcher#switch">
        <label for="trainer_image_radio" class="label cursor-pointer">Image</label>
      </div>
      <div class="">
        <input class="cursor-pointer" type="radio" id="trainer_image_url_radio" name="image" autocomplete="off" <%= "checked" if f.object.image_url.present? %> data-input-switcher-id-param="trainer_image_url" data-action="input-switcher#switch">
        <label for="trainer_image_url_radio" class="label cursor-pointer">Image URL</label>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="size-20 relative" data-controller="image-preview">
        <%= image_tag f.object.image_file, class: "size-20 rounded-full block aspect-square object-cover", data: { image_preview_target: "preview" } %>
        <%= f.label :image, class: "absolute bottom-0 right-0 bg-green-dark rounded-full border cursor-pointer p-1.5 bg-white" do %>
          <div class="size-4">
            <%= Icon.edit %>
          </div>
        <% end %>
        <%= f.hidden_field :image, value: f.object.image.signed_id, data: { input_switcher_target: "input" }, class: "" if f.object.image.attached? %>
        <%= f.file_field :image,
                         disabled: f.object.image_url.present?,
                         required: !f.object.image.attached?,
                         accept: 'image/png,image/jpeg,image/jpg',
                         data: { input_switcher_target: "input", image_preview_target: "input", action: "change->image-preview#preview" },
                         class: "!block w-[1px] opacity-0" %>
      </div>

      <%= f.text_field :image_url, required: true, disabled: f.object.image_url.blank?, data: { input_switcher_target: "input" }, class: "input #{"hidden" unless f.object.image_url.present?}" %>
    </div>
  </div>

  <div class="mb-2">
    <%= f.label :country_id, class: "label" %>
    <%= f.select :country_id, Country.all.map { |country| [country.name, country.id] }, { include_blank: false }, class: "input" %>
  </div>

  <template data-nested-form-target="template">
    <%= f.fields_for :user_pokemons, UserPokemon.new, child_index: "NEW_RECORD" do |user_pokemon| %>
      <%= render "user_pokemon_form", f: user_pokemon %>
    <% end %>
  </template>

  <p class="label">Pokemons</p>
  <%= f.fields_for :user_pokemons do |user_pokemon| %>
    <%= render "user_pokemon_form", f: user_pokemon %>
  <% end %>

  <div data-nested-form-target="target"></div>

  <div class="flex justify-end mb-2">
    <button type="button" data-action="click->nested-form#add" class="btn bg-green-dark hover:bg-green-light w-auto py-1">
      Add pokemon
    </button>
  </div>

  <%= f.button "Save", class: "btn" %>
<% end %>
