<div class="divTableRow">
  <div class="divTableCell border-y !py-4 border-l rounded-l-3xl"><%= link_to trainer.full_name, trainer_path(trainer), data: { turbo_frame: "_top" }, class: "hover:underline" %></div>
  <div class="divTableCell border-y !py-4"><%= trainer.email %></div>
  <div class="divTableCell border-y !py-4 border-r rounded-r-3xl">
    <div class="flex items-center gap-2">
      <%= link_to edit_trainer_path(trainer), data: { turbo_frame: "_top" }, title: "Edit", class: "block size-4" do %>
        <%= Icon.edit %>
      <% end %>
      <%= button_to trainer_path(trainer),
                      method: :delete,
                      form: { data: { turbo_confirm: '¿Are you sure?' } },
                      class: "block size-5 text-red-500" do %>
        <%= Icon.trash %>
      <% end %>
    </div>
  </div>
</div>
<div class="h-3"></div>
