<div class="w-full flex justify-center">
  <div class="w-full max-w-md flex flex-col items-center bg-white border-2 border-grey rounded-lg px-2 py-4">
    <%= image_tag @trainer.image.attached? ? @trainer.image : @trainer.image_url, class: "size-32 rounded-full mb-2 aspect-square object-cover" %>
    <h1 class="text-black text-lg font-semibold mb-2"><%= @trainer.full_name %></h1>
    <h2 class="mb-2"><%= @trainer.email %></h2>
    <h2 class="mb-2 flex items-center"><div class="size-4"><%= Icon.location %></div><%= @trainer.country.name %></h2>
    <div class="flex justify-center flex-wrap gap-2 mb-2">
      <% @trainer.user_pokemons.includes(:pokemon).each do |user_pokemon| %>
        <%= image_tag user_pokemon.pokemon.image.attached? ? user_pokemon.pokemon.image : user_pokemon.pokemon.image_url, class: "size-12 rounded-full aspect-square object-cover" %>
      <% end %>
    </div>
    <% if current_user == @trainer && Pokemon.exists? %>
      <%= link_to "Catch Pokemon", new_user_pokemon_path, data: { turbo_frame: dom_id(UserPokemon.new) }, class: "btn" %>
      <%= turbo_frame_tag UserPokemon.new %>
    <% end %>
  </div>
</div>
