<!DOCTYPE html>
<html>
  <head>
    <title>RavnRailsChallengeV1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="flex flex-col text-dark h-[calc(100dvh)] bg-[#fff9fe] text-dark-grey">
    <%= render partial: "shared/flash" %>
    <%= render "shared/header" if current_user %>
    <div class="flex-1 flex">
      <%= render "shared/sidebar" if current_user %>
      <main class="w-full pt-12 pl-12">
        <%= yield %>
      </main>
    </div>
    <div class="hidden bg-water bg-fire bg-electric bg-grass"></div>
  </body>
</html>
